In [59]:
import pandas as pd
import numpy as np
from helper_functions import get_raw_master_df, save_df, drop_extraneous_col

In [60]:
df = pd.read_csv("csvs/raw_master_df.csv")

In [61]:
# Checking if the columns of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8468 entries, 0 to 8467
Data columns (total 82 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8468 non-null   int64
 1   mp_team0      8468 non-null   float64
 2   fg_team0      8468 non-null   float64
 3   fga_team0     8468 non-null   float64
 4   fg%_team0     8468 non-null   float64
 5   3p_team0      8468 non-null   float64
 6   3pa_team0     8468 non-null   float64
 7   3p%_team0     8468 non-null   float64
 8   ft_team0      8468 non-null   float64
 9   fta_team0     8468 non-null   float64
 10  ft%_team0     8468 non-null   float64
 11  orb_team0     8468 non-null   float64
 12  drb_team0     8468 non-null   float64
 13  trb_team0     8468 non-null   float64
 14  ast_team0     8468 non-null   float64
 15  stl_team0     8468 non-null   float64
 16  blk_team0     8468 non-null   float64
 17  tov_team0     8468 non-null   float64
 18  pf_team0      8468 non-null   float64
 19  pts_team0     8468 non-null   float64
 20  +/-_team0     0 non-null      float64
 21  mp_team0.1    8468 non-null   float64
 22  ts%_team0     8468 non-null   float64
 23  efg%_team0    8468 non-null   float64
 24  3par_team0    8468 non-null   float64
 25  ftr_team0     8468 non-null   float64
 26  orb%_team0    8468 non-null   float64
 27  drb%_team0    8468 non-null   float64
 28  trb%_team0    8468 non-null   float64
 29  ast%_team0    8468 non-null   float64
 30  stl%_team0    8468 non-null   float64
 31  blk%_team0    8468 non-null   float64
 32  tov%_team0    8468 non-null   float64
 33  usg%_team0    8468 non-null   float64
 34  ortg_team0    8468 non-null   float64
 35  drtg_team0    8468 non-null   float64
 36  efg%_team0.1  8468 non-null   float64
 37  orb%_team0.1  8468 non-null   float64
 38  ft/fga_team0  8468 non-null   float64
 39  team0         8468 non-null   object
 40  mp_team1      8468 non-null   float64
 41  fg_team1      8468 non-null   float64
 42  fga_team1     8468 non-null   float64
 43  fg%_team1     8468 non-null   float64
 44  3p_team1      8468 non-null   float64
 45  3pa_team1     8468 non-null   float64
 46  3p%_team1     8468 non-null   float64
 47  ft_team1      8468 non-null   float64
 48  fta_team1     8468 non-null   float64
 49  ft%_team1     8468 non-null   float64
 50  orb_team1     8468 non-null   float64
 51  drb_team1     8468 non-null   float64
 52  trb_team1     8468 non-null   float64
 53  ast_team1     8468 non-null   float64
 54  stl_team1     8468 non-null   float64
 55  blk_team1     8468 non-null   float64
 56  tov_team1     8468 non-null   float64
 57  pf_team1      8468 non-null   float64
 58  pts_team1     8468 non-null   float64
 59  +/-_team1     0 non-null      float64
 60  mp_team1.1    8468 non-null   float64
 61  ts%_team1     8468 non-null   float64
 62  efg%_team1    8468 non-null   float64
 63  3par_team1    8468 non-null   float64
 64  ftr_team1     8468 non-null   float64
 65  orb%_team1    8468 non-null   float64
 66  drb%_team1    8468 non-null   float64
 67  trb%_team1    8468 non-null   float64
 68  ast%_team1    8468 non-null   float64
 69  stl%_team1    8468 non-null   float64
 70  blk%_team1    8468 non-null   float64
 71  tov%_team1    8468 non-null   float64
 72  usg%_team1    8468 non-null   float64
 73  ortg_team1    8468 non-null   float64
 74  drtg_team1    8468 non-null   float64
 75  efg%_team1.1  8468 non-null   float64
 76  orb%_team1.1  8468 non-null   float64
 77  ft/fga_team1  8468 non-null   float64
 78  team1         8468 non-null   object
 79  winner        8468 non-null   object
 80  season        8468 non-null   int64
 81  date          8468 non-null   object
dtypes: float64(76), int64(2), object(4)
memory usage: 5.3+ MB

In [62]:
# Changing the 'date' column datatype to datetime64
df['date'] = df['date'].astype('datetime64[ns]')
df['date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8468 entries, 0 to 8467
Series name: date
Non-Null Count  Dtype
--------------  -----
8468 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 66.3 KB

In [63]:
df.columns

Index(['Unnamed: 0', 'mp_team0', 'fg_team0', 'fga_team0', 'fg%_team0',
       '3p_team0', '3pa_team0', '3p%_team0', 'ft_team0', 'fta_team0',
       'ft%_team0', 'orb_team0', 'drb_team0', 'trb_team0', 'ast_team0',
       'stl_team0', 'blk_team0', 'tov_team0', 'pf_team0', 'pts_team0',
       '+/-_team0', 'mp_team0.1', 'ts%_team0', 'efg%_team0', '3par_team0',
       'ftr_team0', 'orb%_team0', 'drb%_team0', 'trb%_team0', 'ast%_team0',
       'stl%_team0', 'blk%_team0', 'tov%_team0', 'usg%_team0', 'ortg_team0',
       'drtg_team0', 'efg%_team0.1', 'orb%_team0.1', 'ft/fga_team0', 'team0',
       'mp_team1', 'fg_team1', 'fga_team1', 'fg%_team1', '3p_team1',
       '3pa_team1', '3p%_team1', 'ft_team1', 'fta_team1', 'ft%_team1',
       'orb_team1', 'drb_team1', 'trb_team1', 'ast_team1', 'stl_team1',
       'blk_team1', 'tov_team1', 'pf_team1', 'pts_team1', '+/-_team1',
       'mp_team1.1', 'ts%_team1', 'efg%_team1', '3par_team1', 'ftr_team1',
       'orb%_team1', 'drb%_team1', 'trb%_team1', 'ast%_team1', 'stl%_team1',
       'blk%_team1', 'tov%_team1', 'usg%_team1', 'ortg_team1', 'drtg_team1',
       'efg%_team1.1', 'orb%_team1.1', 'ft/fga_team1', 'team1', 'winner',
       'season', 'date'],
      dtype='object')

# Dropping Unnecessary Columns

In [66]:
drop_extraneous_col(df)

# "+/- columns are NaN values"
if '+/-_team0' in df.columns:
    df.drop('+/-_team0', axis=1, inplace=True)

if '+/-_team1' in df.columns:
    df.drop('+/-_team1', axis=1, inplace=True)

# "the usg% across an entire team will always be 100%"
if "usg%_team0" in df.columns:
    df.drop("usg%_team0", axis=1, inplace=True)

if "usg%_team1" in df.columns:
    df.drop("usg%_team1", axis=1, inplace=True)

# it appears certain columns are duplicated as well – which is why pandas automatically adds ".1" We need to drop these.
if "mp_team0.1" in df.columns:
    df.drop("mp_team0.1", axis=1, inplace=True)

if "efg%_team0.1" in df.columns:
    df.drop("efg%_team0.1", axis=1, inplace=True)

if "orb%_team0.1" in df.columns:
    df.drop("orb%_team0.1", axis=1, inplace=True)

if "mp_team1.1" in df.columns:
    df.drop("mp_team1.1", axis=1, inplace=True)

if "efg%_team1.1" in df.columns:
    df.drop("efg%_team1.1", axis=1, inplace=True)

if "orb%_team1.1" in df.columns:
    df.drop("orb%_team1.1", axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8468 entries, 0 to 8467
Data columns (total 71 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mp_team0      8468 non-null   float64
 1   fg_team0      8468 non-null   float64
 2   fga_team0     8468 non-null   float64
 3   fg%_team0     8468 non-null   float64
 4   3p_team0      8468 non-null   float64
 5   3pa_team0     8468 non-null   float64
 6   3p%_team0     8468 non-null   float64
 7   ft_team0      8468 non-null   float64
 8   fta_team0     8468 non-null   float64
 9   ft%_team0     8468 non-null   float64
 10  orb_team0     8468 non-null   float64
 11  drb_team0     8468 non-null   float64
 12  trb_team0     8468 non-null   float64
 13  ast_team0     8468 non-null   float64
 14  stl_team0     8468 non-null   float64
 15  blk_team0     8468 non-null   float64
 16  tov_team0     8468 non-null   float64
 17  pf_team0      8468 non-null   float64
 18  pts_team0     8468 non-null   float64
 19  ts%_team0     8468 non-null   float64
 20  efg%_team0    8468 non-null   float64
 21  3par_team0    8468 non-null   float64
 22  ftr_team0     8468 non-null   float64
 23  orb%_team0    8468 non-null   float64
 24  drb%_team0    8468 non-null   float64
 25  trb%_team0    8468 non-null   float64
 26  ast%_team0    8468 non-null   float64
 27  stl%_team0    8468 non-null   float64
 28  blk%_team0    8468 non-null   float64
 29  tov%_team0    8468 non-null   float64
 30  ortg_team0    8468 non-null   float64
 31  drtg_team0    8468 non-null   float64
 32  ft/fga_team0  8468 non-null   float64
 33  team0         8468 non-null   object
 34  mp_team1      8468 non-null   float64
 35  fg_team1      8468 non-null   float64
 36  fga_team1     8468 non-null   float64
 37  fg%_team1     8468 non-null   float64
 38  3p_team1      8468 non-null   float64
 39  3pa_team1     8468 non-null   float64
 40  3p%_team1     8468 non-null   float64
 41  ft_team1      8468 non-null   float64
 42  fta_team1     8468 non-null   float64
 43  ft%_team1     8468 non-null   float64
 44  orb_team1     8468 non-null   float64
 45  drb_team1     8468 non-null   float64
 46  trb_team1     8468 non-null   float64
 47  ast_team1     8468 non-null   float64
 48  stl_team1     8468 non-null   float64
 49  blk_team1     8468 non-null   float64
 50  tov_team1     8468 non-null   float64
 51  pf_team1      8468 non-null   float64
 52  pts_team1     8468 non-null   float64
 53  ts%_team1     8468 non-null   float64
 54  efg%_team1    8468 non-null   float64
 55  3par_team1    8468 non-null   float64
 56  ftr_team1     8468 non-null   float64
 57  orb%_team1    8468 non-null   float64
 58  drb%_team1    8468 non-null   float64
 59  trb%_team1    8468 non-null   float64
 60  ast%_team1    8468 non-null   float64
 61  stl%_team1    8468 non-null   float64
 62  blk%_team1    8468 non-null   float64
 63  tov%_team1    8468 non-null   float64
 64  ortg_team1    8468 non-null   float64
 65  drtg_team1    8468 non-null   float64
 66  ft/fga_team1  8468 non-null   float64
 67  team1         8468 non-null   object
 68  winner        8468 non-null   object
 69  season        8468 non-null   int64
 70  date          8468 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(66), int64(1), object(3)
memory usage: 4.6+ MB

In [67]:
df

,mp_team0,fg_team0,fga_team0,fg%_team0,3p_team0,3pa_team0,3p%_team0,ft_team0,fta_team0,ft%_team0,...,stl%_team1,blk%_team1,tov%_team1,ortg_team1,drtg_team1,ft/fga_team1,team1,winner,season,date
0,240.0,38.0,72.0,0.528,16.0,37.0,0.432,18.0,21.0,0.857,...,11.7,5.7,9.9,114.1,117.3,0.155,MIA,POR,2023,2022-11-07
1,240.0,41.0,78.0,0.526,8.0,24.0,0.333,15.0,19.0,0.789,...,2.3,5.6,12.3,102.7,119.8,0.257,DAL,CLE,2023,2022-12-14
2,240.0,37.0,87.0,0.425,7.0,33.0,0.212,32.0,35.0,0.914,...,9.5,9.3,8.6,119.4,107.1,0.189,TOR,TOR,2023,2022-12-07
3,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,0.739,...,8.5,16.7,10.2,113.3,104.8,0.191,SAS,SAS,2018,2017-10-18
4,240.0,27.0,86.0,0.314,6.0,26.0,0.231,15.0,20.0,0.750,...,10.2,13.3,7.0,94.0,76.7,0.131,MEM,MEM,2021,2021-04-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,240.0,40.0,89.0,0.449,6.0,32.0,0.188,23.0,34.0,0.676,...,3.9,5.3,11.6,91.8,105.4,0.175,NYK,MIL,2019,2018-12-25
8464,240.0,34.0,95.0,0.358,7.0,33.0,0.212,17.0,23.0,0.739,...,3.1,4.8,12.6,109.8,93.6,0.333,LAC,LAC,2019,2018-10-19
8465,240.0,43.0,87.0,0.494,10.0,27.0,0.370,21.0,27.0,0.778,...,8.7,13.3,12.2,106.1,112.9,0.130,SAS,MIN,2024,2023-11-10
8466,240.0,41.0,85.0,0.482,9.0,26.0,0.346,26.0,30.0,0.867,...,5.1,13.6,11.5,107.1,118.2,0.329,MIA,BOS,2020,2020-09-19
8467,240.0,42.0,82.0,0.512,12.0,27.0,0.444,12.0,19.0,0.632,...,8.6,10.9,12.9,130.5,116.5,0.241,TOR,TOR,2024,2023-11-24

# Check for Missing Values

In [68]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df.isna().sum()

mp_team0        0
fg_team0        0
fga_team0       0
fg%_team0       0
3p_team0        0
3pa_team0       0
3p%_team0       0
ft_team0        0
fta_team0       0
ft%_team0       0
orb_team0       0
drb_team0       0
trb_team0       0
ast_team0       0
stl_team0       0
blk_team0       0
tov_team0       0
pf_team0        0
pts_team0       0
ts%_team0       0
efg%_team0      0
3par_team0      0
ftr_team0       0
orb%_team0      0
drb%_team0      0
trb%_team0      0
ast%_team0      0
stl%_team0      0
blk%_team0      0
tov%_team0      0
ortg_team0      0
drtg_team0      0
ft/fga_team0    0
team0           0
mp_team1        0
fg_team1        0
fga_team1       0
fg%_team1       0
3p_team1        0
3pa_team1       0
3p%_team1       0
ft_team1        0
fta_team1       0
ft%_team1       0
orb_team1       0
drb_team1       0
trb_team1       0
ast_team1       0
stl_team1       0
blk_team1       0
tov_team1       0
pf_team1        0
pts_team1       0
ts%_team1       0
efg%_team1      0
3par_team1      0
ftr_team1       0
orb%_team1      0
drb%_team1      0
trb%_team1      0
ast%_team1      0
stl%_team1      0
blk%_team1      0
tov%_team1      0
ortg_team1      0
drtg_team1      0
ft/fga_team1    0
team1           0
winner          0
season          0
date            0
dtype: int64

# Check for Duplicates

In [69]:
pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows')

duplicates = df.duplicated().sum()
print(f"Duplicates Before: {duplicates}")

if duplicates > 0:
    df = df.drop_duplicates()

duplicates = df.duplicated().sum()
print(f"Duplicates After: {duplicates}")

Duplicates Before: 0
Duplicates After: 0

In [70]:
df['team0']

0       POR
1       CLE
2       LAL
3       MIN
4       ORL
       ...
8463    MIL
8464    OKC
8465    MIN
8466    BOS
8467    CHI
Name: team0, Length: 8468, dtype: object

# Dealing with Categorical

In [71]:
team_encoding = { 
    # ATLANTIC
    "TOR": 1,
    "BOS": 2,
    "NYK": 3, 
    "BRK": 4,
    "PHI": 5,

    # CENTRAL
    "CLE": 6,
    "IND": 7,
    "DET": 8,
    "CHI": 9,
    "MIL": 10,

    # SOUTHEAST
    "MIA": 11,
    "ATL": 12,
    "CHO": 13,
    "WAS": 14,
    "ORL": 15,

    # NORTHWEST
    "OKC": 16,
    "POR": 17,
    "UTA": 18,
    "DEN": 19,
    "MIN": 20,

    # PACIFIC
    "GSW": 21, 
    "LAC": 22,
    "SAC": 23,
    "PHO": 24,
    "LAL": 25,

    # SOUTH WEST
    "SAS": 26,
    "DAL": 27,
    "MEM": 28,
    "HOU": 29,
    "NOP": 30
}

# Create new columns of encoded teams
df['team0_encoded'] = df['team0'].map(team_encoding)
df['team1_encoded'] = df['team1'].map(team_encoding)

# Check if the columns got added
df[['team0_encoded', 'team1_encoded']]

      team0_encoded  team1_encoded
0                17             11
1                 6             27
2                25              1
3                20             26
4                15             28
...             ...            ...
8463             10              3
8464             16             22
8465             20             26
8466              2             11
8467              9              1

[8468 rows x 2 columns]

# Sort and Reorder DF by Date

In [72]:
df = df.sort_values(by="date")
df = df.reset_index(drop=True)

In [73]:
df

,mp_team0,fg_team0,fga_team0,fg%_team0,3p_team0,3pa_team0,3p%_team0,ft_team0,fta_team0,ft%_team0,...,tov%_team1,ortg_team1,drtg_team1,ft/fga_team1,team1,winner,season,date,team0_encoded,team1_encoded
0,240.0,36.0,88.0,0.409,8.0,32.0,0.250,19.0,25.0,0.760,...,15.3,102.7,99.7,0.253,CLE,CLE,2018,2017-10-17,2,6
1,240.0,47.0,97.0,0.485,15.0,41.0,0.366,13.0,19.0,0.684,...,16.0,118.6,119.6,0.238,GSW,HOU,2018,2017-10-17,29,21
2,240.0,30.0,79.0,0.380,7.0,25.0,0.280,24.0,29.0,0.828,...,9.5,110.4,97.6,0.174,MEM,MEM,2018,2017-10-18,30,28
3,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,0.739,...,10.2,113.3,104.8,0.191,SAS,SAS,2018,2017-10-18,20,26
4,240.0,38.0,76.0,0.500,7.0,21.0,0.333,25.0,30.0,0.833,...,10.7,102.2,110.4,0.121,BOS,MIL,2018,2017-10-18,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,240.0,45.0,84.0,0.536,17.0,35.0,0.486,12.0,14.0,0.857,...,8.4,131.1,127.9,0.282,BOS,BOS,2024,2024-03-20,10,2
8464,240.0,41.0,95.0,0.432,13.0,37.0,0.351,7.0,18.0,0.389,...,19.7,116.7,103.5,0.067,PHO,PHO,2024,2024-03-20,5,24
8465,240.0,38.0,83.0,0.458,13.0,36.0,0.361,18.0,19.0,0.947,...,11.5,117.9,121.3,0.253,CLE,MIA,2024,2024-03-20,11,6
8466,240.0,45.0,86.0,0.523,13.0,31.0,0.419,13.0,15.0,0.867,...,16.3,108.9,122.6,0.123,POR,LAC,2024,2024-03-20,22,17
8467,240.0,42.0,96.0,0.438,18.0,49.0,0.367,14.0,18.0,0.778,...,5.5,144.5,122.4,0.020,GSW,GSW,2024,2024-03-20,28,21

In [74]:
save_df(df, "master_df.csv")